/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2015, 2:15:40 PM
    Author     : Stephen
*/

html, body {
    width: 100%;    
}

body, #footer, #playerControl, #functionButtons{   
   text-align: center;
   width: 600px;
   margin: 0 auto;
}

#playerControl{
    width: 425px;
    margin: 0 auto; 
}

#wordDisplay{
    text-align: center;
    font-size: 45px;
    font-weight: bold;   
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

