/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2015, 2:54:02 PM
    Author     : ssalaka
*/

body.extmenu{
    width:300px;
    height: auto;
    padding: 100px 20px 20px 20px;
    background: url(../icons/bg.png);
}
.extmenu .white{
    background-color: white;
    position: absolute;
    padding: 30px 0px 6px 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    border-bottom: 2px solid #CCCCCC;
}
.extmenu .mbottom15{
    margin-bottom: 15px !important;
}
.extmenu *{
    outline: none !important;
}
.extmenu .notkindle{
    display: none;
}


